.formContainer {
    margin: 20px 0;
    display: flex;
}

.emailInput {
    width: 350px;
    height: 46px;
    margin: 0 10px 0 0;
    padding: 10px;
    outline: none;
    border-width: 0.5px;
    border-radius: 3px;
    border-color: whitesmoke;
    color: whitesmoke;
    background: transparent;
}

.emailSubmit {
    outline: none;
    background: transparent;
    border-width: 0.5px;
    border-color: whitesmoke;
    color: whitesmoke;
    width: 100px;
    margin: 0 0 0 10px;
}

.emailSubmit:hover {
    background: whitesmoke;
    color: black;
}
