/* .searchInput {
    border: 1px solid #262627;
    padding: 10px;
    width: 250px;
}

.relativeContainer {
    position: relative;
}

.absoluteContainer {
    position: absolute;
    right: 10px;
    top: 2.5px;
} */