.container {
    margin: 50px 0;
}
.container {
    position: relative;
    width: 100vw;
    height: 50vh;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.textSection {
    width: 80%;
}

.text {
    width: 50%;
    font-size: 16px;
    font-weight: 200;
    line-height: 150%;
    margin: 20px 0;
}

@media screen and (max-width: 728px) {
    .text {
        width: 100%;
    }
}