.container {
  width: 100vw;
  height: 100vh;
  padding: 0 5rem;
  display: flex;
  align-items: center;
  color: whitesmoke;
  background: url('../../public/danny-howe-background.jpg'), #262627;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
}

.copy {
    margin: 20px 0;
  }
  
  .heading {
    font-size: 5rem;
  }
  
  .subheading {
    font-size: 1.2rem;
  }
  
  @media screen and (max-width: 728px) {
    .heading {
      font-size: 3rem;
    }
  }
  
  @media screen and (max-width: 414px) {
    .heading {
      font-size: 45px;
    }
  }