html,
body {
  padding: 0;
  margin: 0;
  font-family: Palanquin, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: whitesmoke;
  color: #262627;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: 'Staatliches', cursive;
}

p {
  margin: 0;
  font-family: 'Palanquin', sans-serif;
}

a {
  color: #262627;
  text-decoration: none;
  font-family: 'Palanquin Dark', sans-serif;
  outline: 0;
}

a:hover {
  opacity: 0.8;
  cursor: pointer;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
