.container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flexContainer {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.cta {
  max-width: 50%;
}

.aboutSection {
  max-width: 50%;
}

@media screen and (max-width: 1150px) {
  .flexContainer {
    flex-direction: column;
  }

  .cta {
    max-width: 100%;
  }
  
  .aboutSection {
    max-width: 100%;
  }
}
