.showCard {
    display: flex;
    padding: 15px;
}

.showDatePriceUnit {
    margin: 0 25px 0 0;
    padding: 5px 0;
}

.showDate {
    font-size: 18px;
}

.showPrice {
    font-size: 22px;
}

.showHeadliner {
    font-size: 24px;
}

.showSupport {
    font-size: 16px;
}

.showVenue {
    margin: 5px 0;
    text-transform: uppercase;
    font-weight: 600;
}